.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(30, 57, 112);
        color: whitesmoke;
    }

    &:active{
        transform: scale(0.8);

    }
}